<!DOCTYPE html>
<html>
<head>
  <title>Sukendhar Reddy</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="navbar navbar-fixed-top">  
  <div class="navbar-inner">  
    <div class="container">   
		 <ul class="nav">  
		  <li class="active">  
			<li><%= link_to('Sukendhar', home_index_path, :class=>"brand")  %>
		  </li>  
		  <li><%= link_to('Home', main_home_path)  %> </li>  
		  <li><%= link_to('About Us', main_aboutus_path)  %></li>  
		  <li><%= link_to('Services', main_services_path)  %></li>  
		  <li><%= link_to('Contact Us', main_contactus_path)  %></li> 
		</ul>  
		
		<ul class="nav pull-right">
			<%= render 'shared/navigation' %>
		</ul>
	</div>		
  </div>  
</div> 

 

<div class="mainbody">
  <% flash.each do |name, msg| %>
    <%= content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String) %>
  <% end %>
  <%= yield %>
</div>

<footer>
      <div class="container">
        ©2012 Sukendhar Reddy. All rights reserved.
      </div>
</footer>
</body>
</html>


